



<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a href="/" class="navbar-brand">
        <img src="/assets/logo2.png" alt="rocket_contact" height="60px" width="70px" />
      </a>
      <!-- <input type="text" [formControl] = "queryFormControl" class="d-none d-md-block d-lg-block form-control border " placeholder="Search your favourite movies, series and animes"> -->
    </nav>
  
    <!-- <div class="d-md-none" style="margin-top:10px">
      <input type="text" [formControl] = "queryFormControl" class="form-control border " placeholder="Search your favourite movies, series and animes">
      
    </div> -->
    <div style="margin-top:10px">
        <video controls>
            <source src="{{url}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
  </div>
  