<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="/" class="navbar-brand">
      <img src="/assets/logo2.png" alt="rocket_contact" height="60px" width="70px" />
    </a>
    <input type="text" [formControl] = "queryFormControl" class="d-none d-md-block d-lg-block form-control border " placeholder="Search your favourite movies, series and animes">
  </nav>

  <div class="d-md-none" style="margin-top:10px">
    <input type="text" [formControl] = "queryFormControl" class="form-control border " placeholder="Search your favourite movies, series and animes">
    
  </div>
  <div class="card" *ngIf="isSearched" style="margin-top:10px">
    <div class="card-header">
      Search results for : {{searchTitle}}
    </div>
    <div class="card-body" *ngIf="results?.length == 0">
      Sorry! This Scavanging was worthless.
    </div>
    <div class="card-body" *ngIf="loading">
      Please wait! we are Scavanging for you.
    </div>

    <ul class="list-group list-group-flush" *ngIf="results?.length > 0">
      <li class="list-group-item" *ngFor="let result of results">
        {{result.name}} <a class="float-right" href="{{result.url}}">Download</a>
      </li>
    </ul>
  </div>
<!-- Pagination Starts -->
  <div style="margin:10px 0px 10px 0px" [hidden]="count == 0">
<p-paginator [rows]="limit" [totalRecords]="count"  (onPageChange)="paginate($event)"></p-paginator>
</div>
<!-- Pagination Ends -->
</div>
