<div class="container-fluid contact-form">
    <div class="contact-image">
        <img src="https://png.pngtree.com/svg/20150907/ufo_1351302.png" alt="rocket_contact"/>
    </div>
    <div class="main">
        <h3>Aliensearch</h3>
       <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 ">
                <div class="form-group">
                    <input type="text" [formControl] = "queryFormControl" class="form-control text-center" placeholder="Search your favourite movies, series and animes"/>
                </div>
            </div>
            <div class="col-md-4 offset-md-4 ">
                <button (click)="search()" class="btn btn-primary btn-block">scavange</button>
            </div>
        </div>
      </div>
</div>